.container
  = render partial: '/shared/left-content', locals: {groups: @groups}
  .right-contents
    .selected-group
      .selected-group__name
        %h2= @group.name
        %ul
          %li Menbers:
          - @users.each do |user|
            %li= user.name
      =link_to "Edit", edit_group_path(@group), class: "edit"
    .right-contents__chat-space
      - @messages.each do |message|
        .chat-space__tweet
          %p.tweet--name= message.user.name
          %p.tweet--time= message.created_at
          %p.tweet= message.body
      .chat-space__writeme
        = form_for('') do |f|
          = f.text_field :body, placeholder: "   type a message", class: "text"
          = f.submit "send", class: "send"
        = link_to fa_icon("image 2x")

