.chat-group-form
  %h1= group.new_record? ? '新規チャットグループ' : 'チャットグループ編集'
  = form_for(group) do |f|
    .chat-group-form__field
      .chat-group-form__field--left
        = f.label :name, 'グループ名', class: "chat-group-form__label"
      .chat-group-form__field--right
        = f.text_field :name, placeholder: "グループ名を入力してください", id: "chat-group-name", class: "chat-group-form__input"
    .chat-group-form__field
      .chat-group-form__field--left
        = f.label :users, "チャットメンバーを追加", class: "chat-group-form__label"
      .chat-group-form__field--right
        .chat-group-form__search
          = collection_check_boxes(:group, :user_ids, users, :id, :name)
        #user-search-result
    .chat-group-form__field
      .chat-group-form__field--left
        = f.label :name, "チャットメンバー", class: "chat-group-form__label"
      -if group.new_record?
        .chat-group-form__field--right
          #chat-group-users
            #chat-group-users-22.chat-group-user
            -# 暫定的に下記の実装
              %p.chat-group-user__name seo_kyohei
    .chat-group-form__field
      .chat-group-form__field--left
      .chat-group-form__field--right
        = f.submit "Save", class: "chat-group-form__action-btn", disable_with: "save"
