.chat-group-form
  %h1 チャットグループ編集
  = form_for(@group) do |f|
    .chat-group-form__field
      .chat-group-form__field--left
        = f.label :name, 'グループ名', class: "chat-group-form__label"
      .chat-group-form__field--right
        = f.text_field :name, value: "#{@group.name}", id: "chat_group_name", class: "chat-group-form__input"
    .chat-group-form__field
      .chat-group-form__field--left
        = f.label :name, "チャットメンバーを追加", class: "chat-group-form__label"
      .chat-group-form__field--right
        .chat-group-form__search
          -# [TODO]チャットメンバー追加は次の実装
        #user-search-result
    .chat-group-form__field
      .chat-group-form__field--left
        = f.label :name, "チャットメンバー", class: "chat-group-form__label"
    .chat-group-form__field
      .chat-group-form__field--left
      .chat-group-form__field--right
        =f.submit "Save", class: "chat-group-form__action-btn", disable_with: "save"
