.chat-group-form
  %h1 新規チャットグループ
  = form_for(@group) do |f|
    .chat-group-form__field
      .chat-group-form__field--left
        = f.label :name, 'グループ名', class: "chat-group-form__label"
      .chat-group-form__field--right
        = f.text_field :name, placeholder: "グループ名を入力してください", id: "chat-group-name", class: "chat-group-form__input"
    .chat-group-form__field
      .chat-group-form__field--left
        = f.label :name, "チャットメンバーを追加", class: "chat-group-form__label"
      .chat-group-form__field--right
        .chat-group-form__search
        -# チャットメンバー追加は次の実装で行うため、暫定的にdivで形だけつくった
          #user-search-field.chat-group-form__input
        #user-search-result
    .chat-group-form__field
      .chat-group-form__field--left
        = f.label :name, "チャットメンバー", class: "chat-group-form__label"
      .chat-group-form__field--right
        #chat-group-users
          #chat-group-users-22.chat-group-user
          -# 暫定的に下記の実装
            %p.chat-group-user__name seo_kyohei
    .chat-group-form__field
      .chat-group-form__field--left
      .chat-group-form__field--right
        = f.submit "Save", class: "chat-group-form__action-btn", disable_with: "save"
